.char-container-fr {width: 900px;}
.info-choose04-img {top: 5px;}
.area-content02{min-height: 485px;}
.area-content02-list-li-fl-02 , .area-content02-list-li-fl-03 , .area-content02-list-li-fl-04 , .area-content02-list-li-fl-05{width: 22.5%;text-align: center;}
.jfpg-container01-fl{width: 10%;background-color: #7396cb;color: white;font-size: 14px;text-align: center;height: 55px;line-height: 55px;border-right:1px solid #a4bbdd; }
.jfpg-container01-fr{width: 89.9%;background-color: #7396cb;color: white;font-size: 14px;line-height: 27px;}
.jfpg-container01-fr-top{width: 100%;text-align: center;border-bottom: 1px solid #a4bbdd;}
.jfpg-container01-fr-fot-fl{width: 25%;text-align: center;}

