/*内容*/
.content{width:1196px;margin: auto;position: relative;height: 647px;z-index: 2; margin-top: 22px;}
.c-fl{width:992px;background-color: white;height:625px; margin-top: 11px;position: relative; }
.c-fl-a{background-color: white;opacity:0.5;position: absolute;z-index: 1;width:1018px; height: 647px;top: -11px;left: -11px;}

.c-fr{width: 170px;}
.right-nav{width: 100%;background-color: white;height: 200px;text-align: center;}
.right-nav:hover{cursor: pointer;}
.right-nav:nth-child(n+2){margin-top: 23px;}
.right-nav-bot{font-size: 22px;color: #333333;line-height: 100%;margin-top: 23px;}
.right-nav-a .right-nav-bot{color: white;}
.right-nav-a{background-image: url("../img/index/left-bg.jpg");background-repeat: no-repeat;background-size: 100% 100%;background-color: transparent;}
.right-nav-top{padding-top:56px; }

.c-fl-container-01{padding-top: 69px;margin-left: 45px;}
.c-fl-container-01-fl-list{width: 132px;height: 55px;line-height: 55px;background-color: white;border: 1px solid #eaebec;border-left:14px solid #eaebec; padding-left: 26px; font-size: 16px;color: #666666;overflow: hidden;}
.c-fl-container-01-fl-list:nth-child(n+2){margin-top: 16px;  }
.c-fl-container{position: relative;z-index: 2;}
.c-fl-container-01-fl-list-a{font-size: 20px;color: #097adf;background-color:#eaebec;border-left:14px solid #097adf; }
.c-fl-container-01-fl-list:hover{cursor: pointer;}

.c-fl-container-01-fr{width: 626px;margin-left: 58px;}
.c-fl-container-01-fr-fl{width: 297px;height: 123px;border: 1px solid #f1f1f1;}
.c-fl-container-01-fr-fl:nth-child(n+3){margin-top: 30px;}
.c-fl-container-01-fr-fl:nth-child(2n){margin-left: 27px;}
.c-fl-container-01-fr-fl-img{width: 62px;height: 64px;overflow: hidden;margin-top: 31px;margin-left: 30px;}
.c-fl-container-01-fr-fl-t{line-height: 123px;font-size: 20px;color: #333333;text-align: center;width: 170px;}
.c-fl-container-01-fr-fl:hover{cursor: pointer;border: 1px solid white;box-shadow:#dcecfa 0 0 30px ;}






/*2*/
.c-fl-container-02{padding-top: 67px;margin-left: 40px;}
.c-fl-container-02-list{width: 278px;margin-left: 12px;margin-right: 12px;}
.c-fl-container-02-list-title{font-size: 24px;color: #666666;line-height: 100%;width: 100%;text-align: center;}
.c-fl-container-02-list-c{width: 100%;border:  1px solid #f1f1f1;margin-top: 28px;}
.c-fl-container-02-list-c-01{width: 100%;height: 56px;line-height: 56px;text-align: center;color: white;font-size: 17.87px;
    background: #f77454;
    background: -moz-linear-gradient(top,  #f77454 0%, #fd5c56 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f77454), color-stop(100%,#fd5c56));
    background: -webkit-linear-gradient(top,  #f77454 0%,#fd5c56 100%);
    background: -o-linear-gradient(top,  #f77454 0%,#fd5c56 100%);
    background: -ms-linear-gradient(top,  #f77454 0%,#fd5c56 100%);
    background: linear-gradient(to bottom,  #f77454 0%,#fd5c56 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f77454', endColorstr='#fd5c56',GradientType=0 );
}
:root .c-fl-container-02-list-c-01{filter:none;}
.c-fl-container-02-list:nth-child(2) .c-fl-container-02-list-c-01{
    background: #5bc1fe;
    background: -moz-linear-gradient(top,  #5bc1fe 0%, #5094fb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5bc1fe), color-stop(100%,#5094fb));
    background: -webkit-linear-gradient(top,  #5bc1fe 0%,#5094fb 100%);
    background: -o-linear-gradient(top,  #5bc1fe 0%,#5094fb 100%);
    background: -ms-linear-gradient(top,  #5bc1fe 0%,#5094fb 100%);
    background: linear-gradient(to bottom,  #5bc1fe 0%,#5094fb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bc1fe', endColorstr='#5094fb',GradientType=0 );
}
.c-fl-container-02-list:nth-child(3) .c-fl-container-02-list-c-01{
    background: #3fe689;
    background: -moz-linear-gradient(top,  #3fe689 0%, #0edd90 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3fe689), color-stop(100%,#0edd90));
    background: -webkit-linear-gradient(top,  #3fe689 0%,#0edd90 100%);
    background: -o-linear-gradient(top,  #3fe689 0%,#0edd90 100%);
    background: -ms-linear-gradient(top,  #3fe689 0%,#0edd90 100%);
    background: linear-gradient(to bottom,  #3fe689 0%,#0edd90 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fe689', endColorstr='#0edd90',GradientType=0 );
}
.c-fl-container-02-list-c-02{padding-top: 19px;padding-left: 27px;height: 264px;padding-bottom: 20px;overflow-y: auto;}
.c-fl-container-02-list-c-02-list{margin-top: 15px;}
.c-fl-container-02-list-c-02-list-01{font-size: 16px;line-height: 100%;color: #333333;}
.c-fl-container-02-list-c-02-list-02{font-size: 16px;line-height: 100%;color: #de241b;margin-top: 5px;}


/*3*/
.c-fl-container-03{width: 970px;margin: auto;}
.c-fl-container-03-list{width: 438px;margin-left: 23px;margin-right: 23.5px;}
.c-fl-container-03-list-top{width: 100%;border-bottom: 3px solid #e5e5e5;height: 49px;line-height: 47px;}
.m-s01{padding-left:10px;border-bottom: 3px solid #097adf;display: inline-block;height: 48px;line-height: 47px;font-size: 20px;color: #666666; }
.c-fl-container-03-list-border{width: 100%;height: 244px;}
#char04{width: 95%;height: 110%;}

/*01.11*/
.c-fl-container-01 {
    padding-top: 20px;
    margin-left: 20px;
}
.c-fl-container-01-fr {
    width: 750px;
    margin-left: 20px;
}
.c-fl-container-01-fr-fl {
    width: 365px;
    height: 165px;
}
.c-fl-container-01-fr-fl:nth-child(2n) {
    margin-left: 10px;
}
.c-fl-container-01-fr-fl:nth-child(n+3) {
    margin-top: 10px;
}
.c-fl-container-01-fr-fl-img {
    margin-top: 50px;
}
.c-fl-container-01-fr-fl-t {
    line-height: 165px;
}
.c-fl-container-02-list {
    margin-left: 7px;
    margin-right: 7px;width: 315px;
}
.c-fl-container-02 {
    margin-left:0;
}
#char01{margin-top: -40px;}
.c-fl-container-03-list {
    width: 458px;
    margin-left: 13px;
    margin-right: 13px;
}
.c-fl-container-03-list-border{margin-top: -30px;    height: 280px;}
.c-fl-container-02 {
    padding-top: 20px;}
.c-fl-container-02-list-c-02 {

    height: 430px;}
.c-fl-container-01-fr-fl-t {
    font-size: 24px;}
.content {margin-top: 10px;    height: 679px;}
.c-fl{    height: 657px;   width: 1002px;}
.c-fl-a{    height: 679px;    width: 1028px;}
.right-nav {
    height: 217px;
}
.right-nav:nth-child(n+2) {
    margin-top: 13px;
}




