.c-fl {width: 1174px;}
.c-fl-a {width: 1200px;}
.c-fl-container-kyz{width: 1056px;margin: auto;padding-top: 28px;}
.z-kyz-title{border-bottom: 2px solid #e6edf3;line-height: 30px;height: 33px;}
.m-s02{display: inline-block;padding-left: 10px;padding-right: 10px;border-bottom: 3px solid #097adf;line-height: 32px;font-size: 18px;color: #454545;height: 32px;}
.kyz-list{width: 457px;height: 96px;border-bottom: 1px solid #E6EDF3;}
.kyz-list:nth-child(2n){margin-left: 81px;}
.kyz-list-fl{width: 50px;height: 52px;}
.kyz-list-fl-img{width: 100%;height: 100%;}
.kyz-list-fl-t1-name{font-size: 18px;color: #999999;width: 108px;display: inline-block;}
.kyz-list-fl-t1-name01{font-size: 15px;color: #999999;width: 108px;display: inline-block;}
.kyz-list-fl-t1-n{font-size: 18px;color: #333333;}
.kyz-list-fl-t1-n01{font-size: 15px;color: #333333;}
.kyz-list-fl , .kyz-list-fr{margin-top: 22px;}
.kyz-list-fr{margin-left: 22px;}
.kyz-list-fl-t2{margin-top: 10px;}
.kyz-list:hover{cursor: pointer;}
.kyz-container{padding-top: 14px;}

/*0111*/
.kyz-list {
    width: 550px;}
.kyz-list:nth-child(2n) {
    margin-left: 20px;
}
.kyz-container {
    padding-top: 10px;
}
.c-fl-container-kyz {
    width: 1140px;}
.kyz-list-fl{width: 60px;height: 62px;}
.kyz-list-fr {
    margin-left: 15px;
}
.kyz-list-fl, .kyz-list-fr {
    margin-top: 18px;
}
.kyz-list-fl-t1-name {
    font-size: 20px;
    width: 120px;
}
.kyz-list-fl-t1-n {
    font-size: 21px;

}
.kyz-list-fl-t1-name01 {
    font-size: 19px;
    width: 120px;
}
.kyz-list-fl-t1-n01 {
    font-size: 19px;}

/*0121*/
.kyz_new_01{width: 530px;margin-left: 30px;}
.kyz-list:nth-child(2n){margin-left: 0;}
.kyz-list-fl{width: 22px;height: 27px;}
.kyz-list-fl{margin-top: 35px;}
.kyz-list {
    width: 95%;
}
.kyz_new_02{width: 530px;margin-right: 24px;}
.sblb-list{width:255px;border-radius: 10px;border: 1px solid #eaebec;padding-top: 27px;padding-bottom: 23px; margin-top: 12px;}
.sblb-list-fl{width: 75px;text-align: center;font-size: 17px;color: #333333;line-height: 62px;}
.sblb-list-fr{width: 175px;text-align: left;}
.sblb-list-fr-01{font-size: 17px;color: #333333;}
.sblb-list-fr-02{font-size: 14px;color: #878787;}
.sblb-list:nth-child(2n){margin-left: 10px;}
.sblb{padding-top: 22px;}
.sblb-nodata{margin-top: 45px;}
.sblb-nodata-01{text-align: center;}
.sblb-nodata-02{font-size: 17px;color: #c70707;margin-left: 175px;}
.sblb-list:hover{cursor: pointer;}
/*0214*/
.kyz-list-fl-t1-name , .kyz-list-fl-t1-n{font-size: 17px;}
.kyz-list-fl-t1-n01{font-size: 15px;}
.kyz-list-fl-t1-name01{font-size: 16.8px;}