@media screen and (max-width:1437px) and (min-width:1200px){
    .new-three-tree01{width: 250px;}
    .new-three-tree01-01-fl{width: 80px;    height: 62px;}
    .new-three-tree01-01-fr-01-fl{font-size: 12px;line-height: 20px;}
    .new-three-tree01-01-fr-01-fr{font-size: 12px;color: #333;    text-align: center;line-height: 20px;}
    .new-three-tree01-01-fr-01{height: 20px;}
    .new-three-tree01-01-fl-img{width: 30px;}
    .new-three-tree01-01-fl-t{font-size: 13px;}
    .new-three-tree01-02 .new-three-tree01-01-fl{height: 41px;}
    .new-three-tree01-01-fl-01{font-size: 12px;line-height: 20px;}
    .new-three-tree01-01-fl-02{font-size: 12px;}
    .byzs {margin-top: 5px;}
    .byzs-01-title{ line-height: 24px;font-size: 13px;}
    .byzs-01-char{height: 134px;}
    .byzs-01{width: 250px;}
    #byzs01 , #byzs02 , #byzs03{height: 130%;}
    #byzs04 , #byzs05 , #byzs06{    height:110%;}








}